<% if flash[:notice] %>
  <div class="flash-notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<p>
  <strong>Username:</strong>
  <%= @user.username %>
  <strong>Running balance:</strong>
  <%= number_to_currency(@balance, unit: "") %>

  <div>
    <%= link_to "Send Money", new_transaction_path %>
  </div>
  <div>
    <%= link_to "Withdraw Money", withdraw_form_transactions_path %>
  </div>
</p>
