<!DOCTYPE html>
<html>
  <head>
    <title>InternalWalletApi</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless hide_navbar? %>
      <%= render 'layouts/navbar' %>
    <% end %>

    <%= yield %>
  </body>
</html>
